#loginContent {
  display: none;
  background: white;
  width: 340px;
  border-top: 2px solid #ff4081;
  top: 100%;
  left: calc(-100% - 170px);
  position: absolute;
  padding: 20px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  z-index: 99991;
  /* @ */
  /* @ */
  /* @ */ }
  #loginContent::before {
    display: block;
    background: #ff4081;
    content: " ";
    padding: 10px;
    position: absolute;
    bottom: calc(96.25% + 5px);
    left: calc(100% - 10px);
    border-radius: 50%; }
  #loginContent > h1 {
    color: #333;
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%; }
  #loginContent > form {
    display: block;
    /* @ */
    /* @ */ }
    #loginContent > form > fieldset {
      /* @ */
      display: block;
      position: relative;
      margin-bottom: 10%;
      /* @ */
      /* @ */
      /* @ */ }
      #loginContent > form > fieldset > label {
        display: block;
        color: #ff4081;
        position: absolute;
        transition: all 0.25s ease-out;
        bottom: 90%;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal; }
      #loginContent > form > fieldset > input {
        background: transparent;
        color: #666666;
        width: 100%;
        border: 0px;
        outline: 0px;
        padding: 2%;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-bottom: 2px solid #ff4081;
        /* @ */ }
        #loginContent > form > fieldset > input:empty + label {
          bottom: 0px; }
        #loginContent > form > fieldset > input:focus + label {
          bottom: 90%; }
        #loginContent > form > fieldset > input.active + label {
          bottom: 90%; }
        #loginContent > form > fieldset > input:not(:empty) + label {
          bottom: 90%; }
      #loginContent > form > fieldset > small {
        display: block;
        position: absolute;
        bottom: -75%;
        right: 0;
        font-size: 0.9rem; }
    #loginContent > form > button {
      display: block;
      background: #ff4081;
      color: white;
      text-align: center;
      padding: 10px 25%;
      margin: 5% auto;
      margin-top: 15%;
      border: 0px;
      border-radius: 50px;
      outline: 0px;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #loginContent > h2 {
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; }
  #loginContent nav {
    display: block;
    width: 100%;
    text-align: center; }
    #loginContent nav a {
      display: inline-block;
      color: #3551ad;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      margin: 0% 2%; }
  #loginContent span {
    display: block;
    position: relative;
    margin: 5% 0%;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
    #loginContent span::before, #loginContent span::after {
      display: block;
      background: #e6e8ea;
      content: "";
      width: 40%;
      height: 2px;
      position: absolute;
      top: calc(50% - 2px); }
    #loginContent span::before {
      left: 0; }
    #loginContent span::after {
      right: 0; }
  #loginContent > a {
    display: block;
    background: #3551ad;
    color: white;
    padding: 2.5% 5%;
    border: 1px solid #3551ad;
    border-radius: 50px;
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center; }

html {
  overflow-x: hidden; }

button {
  position: relative;
  overflow: hidden; }
  button::before {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    width: 0%;
    height: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    /* @ */
    border-radius: 100%;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  button:hover::before, button:active::before {
    width: 300px;
    height: 300px; }

/* @ ========== HEADER */
header {
  /* @ */
  display: flex;
  background: #3551ad;
  padding: 1% 2.5%;
  align-content: center;
  text-align: right;
  /* @ Logo */
  /* @ */
  /* @ */ }
  header img {
    display: inline-block;
    max-width: 160px;
    margin-right: 2.5%;
    vertical-align: middle; }
  header h1 {
    color: white;
    font-size: 2rem;
    white-space: nowrap; }
  header menu {
    display: inline;
    text-align: right;
    white-space: nowrap;
    flex-basis: 75%; }
    header menu > a {
      display: inline-block;
      color: white;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      margin: 0% 1.5%;
      text-decoration: none !important;
      vertical-align: middle; }
      header menu > a:hover {
        color: white; }
    header menu > #layoutLogin {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      /* @ Menu//Ingresar : HTMLAElement  */ }
      header menu > #layoutLogin > a {
        color: white;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2rem;
        margin-left: 2%;
        text-decoration: none;
        vertical-align: middle; }

/* @ Mobile */
#mobileHeader {
  display: none;
  padding: 2.5%; }

#mobileMenu {
  display: none;
  background: #3551ad;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 9999999999999999; }
  #mobileMenu img {
    display: block;
    max-width: 168px;
    margin: 0 auto; }
  #mobileMenu > a {
    display: block;
    color: white;
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10%; }
  #mobileMenu nav {
    display: block;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: center; }
    #mobileMenu nav a {
      display: block;
      color: white;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.5rem; }
  #mobileMenu button {
    display: block;
    background: transparent;
    color: white;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem; }

/* @ ========== MAIN */
main {
  /* @ */
  /* @ */
  /* @ */
  /* @ */ }
  main #breadcrums {
    background: white;
    padding: 1.5%; }
    main #breadcrums a::after {
      display: inline-block;
      content: "/";
      margin: 0% 5px; }
    main #breadcrums a:last-child {
      color: #999; }
    main #breadcrums a:last-child::after {
      display: none; }
  main #product {
    /* @ */
    /* @ */
    /* @ */ }
    main #product #gallery {
      /* @ */
      /* @ */ }
      main #product #gallery > ol > li {
        display: block; }
        main #product #gallery > ol > li > a {
          overflow: hidden;
          height: 96px;
          text-decoration: none; }
          main #product #gallery > ol > li > a > img {
            background: #999;
            width: 100%;
            height: 96px;
            border-left: 2px solid #f2f4f6;
            margin-bottom: 2.5%; }
      main #product #gallery figure {
        background: #3f3f3f;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40% 0%;
        position: relative; }
        main #product #gallery figure figcaption {
          display: block;
          background: -webkit-radial-gradient(top, rgba(0, 0, 0, 0.33), transparent);
          color: white;
          padding: 1%;
          font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
          main #product #gallery figure figcaption a {
            display: block;
            color: white;
            width: 100%;
            text-decoration: none; }
    main #product #productShop {
      /* @ */
      /* @ */
      /* @ */ }
      main #product #productShop h1 {
        color: #2b2c2b;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 3.5rem;
        margin-top: 0%; }
      main #product #productShop p {
        color: #ff4081;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 2.5%; }
      main #product #productShop form#productChoose {
        /* @ */
        /* @ */ }
        main #product #productShop form#productChoose fieldset {
          /* @ */
          /* @ */
          /* @ */ }
          main #product #productShop form#productChoose fieldset label {
            display: block;
            color: #151515;
            font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: bold; }
          main #product #productShop form#productChoose fieldset select {
            width: 50%;
            padding: 1%;
            outline: 0px;
            border: 1px solid #e6e8ea;
            cursor: pointer; }
          main #product #productShop form#productChoose fieldset #changeQty {
            /* @ */
            display: inline-flex;
            color: white;
            margin: 5% 0%;
            vertical-align: middle;
            border: 1px solid #d6d8da;
            border-radius: 2px;
            overflow: hidden;
            /* @ */ }
            main #product #productShop form#productChoose fieldset #changeQty button, main #product #productShop form#productChoose fieldset #changeQty center {
              display: inline-block;
              background: #929496;
              color: white;
              padding: 5px 10px;
              border: 0px;
              outline: 0px;
              cursor: pointer; }
            main #product #productShop form#productChoose fieldset #changeQty center {
              background: transparent;
              color: #2f2f2f;
              font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: bold;
              cursor: text; }
          main #product #productShop form#productChoose fieldset small {
            display: inline-block;
            font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.25rem;
            line-height: 40px;
            font-weight: bold;
            vertical-align: middle;
            margin-left: 2.5%; }
        main #product #productShop form#productChoose > button {
          display: block;
          background: #ff4081;
          color: white;
          font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.75rem;
          padding: 12px 25px;
          border: 0px;
          border-radius: 50px;
          cursor: pointer;
          outline: 0px;
          margin: 0% 0%;
          margin-top: 15%;
          position: relative;
          overflow: hidden; }
    main #product #productWathsItCovers {
      border-bottom: 1px solid #e6e8ea;
      float: right;
      /* @ */
      /* @ */ }
      main #product #productWathsItCovers h5 {
        display: block;
        color: #000;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 1.75rem; }
      main #product #productWathsItCovers ol {
        display: block;
        padding: 0;
        margin-bottom: 2.5%; }
        main #product #productWathsItCovers ol li {
          display: block;
          color: #2a58b5;
          font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          padding: 0.5% 0%; }
  main #productMore {
    display: block;
    margin-top: 5%;
    /* @ */
    /* @ */ }
    main #productMore nav {
      display: block;
      border-bottom: 2px solid #d6d8da;
      text-align: center;
      /* @ */ }
      main #productMore nav a {
        display: inline-block;
        color: #3551ad;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin: 0% 2%;
        padding: 0.5%;
        position: relative;
        text-decoration: none; }
        main #productMore nav a.active::before {
          display: block;
          content: " ";
          width: 100%;
          position: absolute;
          top: calc(100% - 2px);
          left: 0;
          border-bottom: 2px solid #3551ad; }
    main #productMore div[data-rel=details] {
      color: #4a4a4a;
      padding: 2.5%;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 2.5rem; }
  main #otherProducts {
    margin-bottom: 5%;
    border-radius: 2px;
    padding-bottom: 1%;
    overflow: hidden;
    overflow-x: auto; }
    main #otherProducts .product {
      width: calc(33.3333% - 30px);
      box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.25);
      padding: 0;
      margin-right: 15px;
      margin-left: 15px; }
      main #otherProducts .product figure {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 38% 0%; }
      main #otherProducts .product h1 {
        color: #666;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2rem;
        font-weight: normal;
        padding: 0% 2%; }
      main #otherProducts .product p {
        display: inline-block;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        margin-bottom: 1.5%;
        padding: 0% 2%; }
      main #otherProducts .product b {
        display: inline-block;
        color: #ff4081;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5%;
        padding: 0% 2%;
        white-space: nowrap; }
        main #otherProducts .product b > i {
          margin-right: 2.5%; }
      main #otherProducts .product a {
        display: block;
        background: transparent;
        color: #ff4081;
        max-width: 168px;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        padding: 2.5% 0%;
        border: 2px solid #ff4081;
        border-radius: 50px;
        margin: 5% auto;
        text-align: center;
        cursor: pointer;
        text-decoration: none; }
        main #otherProducts .product a:hover {
          background: #ff4081;
          color: white;
          -webkit-transition: all 0.15s linear;
          -moz-transition: all 0.15s linear;
          -ms-transition: all 0.15s linear;
          -o-transition: all 0.15s linear;
          transition: all 0.15s linear; }

/* @ =========== FOOTER */
footer {
  display: block;
  background: #202020;
  padding-top: 2.5%;
  /* @ */
  /* @ */
  /* @ */ }
  footer #footerHeader {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #191919;
    padding-bottom: 1%;
    margin: 2% 10%; }
    footer #footerHeader img {
      max-width: 168px; }
    footer #footerHeader ol {
      display: block;
      width: 20%;
      text-align: right;
      color: white;
      white-space: nowrap;
      text-align: right; }
      footer #footerHeader ol li {
        display: inline-block;
        margin: 0% 3%; }
        footer #footerHeader ol li a {
          display: inline-block;
          color: #797979;
          font-size: 2rem; }
  footer #footerBody {
    width: 88%;
    margin: 0% 11%;
    margin-bottom: 5%;
    /* @ */ }
    footer #footerBody div {
      width: 90%;
      /* @ */ }
      footer #footerBody div h1 {
        display: block;
        width: 50%;
        color: white;
        font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        padding-bottom: 0.5%; }
        footer #footerBody div h1 hr {
          display: block;
          border-top: 2px solid #1e4ea9;
          width: 20%;
          margin: 0;
          margin-top: 1%; }
        footer #footerBody div h1::before {
          display: block;
          background: #1e4ea9;
          width: 30%;
          height: 2px;
          content: " ";
          position: absolute;
          bottom: 2px;
          left: 0px; }
      footer #footerBody div ol li {
        display: block;
        margin: 1% 0%; }
        footer #footerBody div ol li a {
          color: white;
          font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.5rem;
          text-align: none; }
  footer #footerCopyright {
    display: flex;
    background: #1c1c1c;
    padding: 1% 10%;
    padding-bottom: 0.25%;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end; }
    footer #footerCopyright span {
      display: inline-block;
      color: #a4a4a4;
      font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      vertical-align: bottom;
      margin-bottom: 1%; }
      footer #footerCopyright span a {
        color: white; }
    footer #footerCopyright ol {
      display: inline-block;
      vertical-align: bottom;
      text-align: right; }
      footer #footerCopyright ol li {
        display: inline-block;
        margin: 0% 1.5%; }
        footer #footerCopyright ol li a img {
          max-width: 100%;
          max-height: 48px;
          text-decoration: none; }

@media (max-width: 1024px) {
  main #product #gallery figure {
    padding: 35% 0% !important; }
  main #product #gallery h1 {
    font-size: 3rem !important; }

  footer #footerHeader {
    width: 90%;
    margin: 2% 4%; }

  footer #footerBody {
    width: 92%;
    margin-left: 6%; }

  footer #footerCopyright img {
    height: 32px; } }
@media (max-width: 768px) {
  /* @ */
  header img {
    margin: -0.5% 2.5%;
    max-width: 120px; }

  header h1,
  header menu > a,
  header menu > #layoutLogin > a {
    font-size: 1.25rem; }

  /* @ */
  main #product #gallery figure {
    padding: 30% 0% !important; }
    main #product #gallery figure figcaption {
      background: rgba(0, 0, 0, 0.25);
      height: 100%;
      width: 100%; }
      main #product #gallery figure figcaption a {
        font-size: 0px; }
        main #product #gallery figure figcaption a i {
          display: block;
          background: rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          padding: 15px;
          font-size: 2rem;
          position: absolute;
          top: calc(50% - 27px);
          left: calc(50% - 27px); }

  main #product #productShop {
    margin-top: 10%; }
    main #product #productShop form#productChoose > button {
      margin-top: 2.5%;
      float: right; }

  main #otherProducts .col-sm-hide {
    display: none; }
  main #otherProducts .product {
    width: calc(50% - 30px); }

  /* @ */
  footer #footerHeader {
    width: 92%;
    margin: 2% 4%; }
    footer #footerHeader ol {
      width: 50%; }

  footer #footerBody {
    margin: 1% 7.5%; }
    footer #footerBody div {
      width: 100%; }

  footer #footerCopyright {
    padding: 1% 2.5%; }
    footer #footerCopyright span {
      font-size: 1rem; }
    footer #footerCopyright img {
      max-height: 30px !important; } }
@media (max-width: 480px) {
  /* @ Tablet & Desktop Header */
  header {
    display: none; }

  /* @ */
  #mobileHeader {
    display: block !important; }

  main {
    /* @ */
    /* @ */
    /* @ */ }
    main #product #gallery ol {
      width: 100%; }
      main #product #gallery ol li {
        display: inline-block;
        width: 31.33%;
        margin: 0% 1%; }
    main #product #gallery figure {
      clear: both; }
    main #product #productShop form#productChoose > button {
      float: inherit;
      margin: 2% auto; }
    main #productMore nav {
      padding: 0.5%; }
      main #productMore nav a {
        padding: 1.5%; }
    main #otherProducts .col-xs-hide {
      display: none; }
    main #otherProducts .product {
      width: calc(100% - 30px) !important; }

  /* @ */
  #footerHeader img {
    max-width: 120px !important; }
  #footerHeader ol {
    margin-bottom: 5px; }
    #footerHeader ol li a {
      font-size: 1.25rem !important; }

  #footerCopyright {
    flex-direction: column-reverse;
    justify-content: center !important; }
    #footerCopyright ol {
      text-align: center !important;
      margin-top: 2.5%; }
    #footerCopyright span {
      text-align: center !important;
      padding-bottom: 2.5%; }

  .fancybox-container #loginContent {
    overflow: visible;
    margin: 0;
    display: inline-block !important;
    width: 90%;
    position: relative;
    left: 0%;
    top: 0%; }
    .fancybox-container #loginContent::before {
      display: none; } }

/*# sourceMappingURL=all.css.map */
